.git/
.github/
.gitignore
.DS_Store
.calva/
.clj-kondo/
.cpcache/
.lsp/
.vscode/
.idea/
.nrepl-port

*.code-workspace
*.iml
.DS_Store
.cpcache
.clj-kondo
.lsp
.shadow-cljs

node_modules/
resources/client/public/cljs-runtime/
resources/client/public/manifest.edn
resources/client/public/app.css
resources/client/public/app.js

dev/
LICENSE
README.md
