# dev & docs
*.code-workspace
*.iml
.DS_Store
.github/
.gitignore
.idea/
.vscode/
LICENSE
README.md
dev/

# clojure
.calva/
.clj-kondo/
.cpcache/
.lsp/
.nrepl-port

# client
.shadow-cljs
karma.conf.js
node_modules/
out/
resources/client/public/app.css
resources/client/public/app.js
resources/client/public/cljs-runtime/
resources/client/public/manifest.edn
tailwind.config.js

# server
