.clj-kondo/
.cpcache/
.calva/
.lsp/
.nrepl-port
.shadow-cljs
*.iml

node_modules/

# generated
resources/public/cljs-runtime/
resources/public/manifest.edn
resources/public/app.css
resources/public/app.js

resources/public/stylo/css/
.idea/*
*.iml
.vscode/*
