.clj-kondo/.cache
.clj-kondo/imports/
.cpcache/
.calva/
.lsp/
.nrepl-port
.shadow-cljs
*.iml

node_modules/

# generated
resources/client/public/cljs-runtime/
resources/client/public/manifest.edn
resources/client/public/app.css
resources/client/public/app.js
out/

.idea/*
.vscode/*

# secrets
.env.*
k8s/**/secret.*
