{:paths ["src" "resources"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.132"}
  org.clojure/clojure {:mvn/version "1.11.2"}
  thheller/shadow-cljs {:mvn/version "2.27.5"}
  reagent/reagent {:mvn/version "1.2.0"}
  re-frame/re-frame {:mvn/version "1.4.3"}
  babashka/process {:mvn/version "0.5.22"}

  ;; routing
  bidi/bidi {:mvn/version "2.1.6"}
  clj-commons/pushy {:mvn/version "0.3.10"}
  ;; cljs-http/cljs-http {:mvn/version "0.1.48"}
  ;; org.clojars.arthurbarroso/re-frame-cljs-http {:mvn/version "0.1.0"}
  day8.re-frame/http-fx {:mvn/version "0.2.4"}

  binaryage/devtools {:mvn/version "1.0.7"}
  re-frisk/re-frisk {:mvn/version "1.6.0"}
  re-com/re-com {:mvn/version "2.19.0"}}

 :aliases {:shadow
           {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}
           :release
           {:main-opts ["-m" "shadow.cljs.devtools.cli" "release" "app"]}
           :test {:paths ["test"]
                  :deps {healthsamurai/matcho {:mvn/version "0.3.10"}}}}}
