{:deps true
;;  :nrepl {:port 8777}

 :dev-http
 {8280 ["resources/public" #_"classpath:public"]
  #_#_8290 "target/browser-test"}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/assets/js"
   :asset-path "/assets/js"
   :build-hooks [(stylo.shadow/reload "resources/public/stylo/css/stylo.css")
                 #_(stylo.shadow/reload "resources/public/suitkin/vd/stylo.css")]
   :compiler-options {:warnings {:fn-deprecated false}}
   :modules {:app {:init-fn viewdef-designer.index/init}}
   :devtools {:preloads [re-frisk.preload devtools.preload]
              :after-load viewdef-designer/render}

   :dev
   {:devtools {:preloads [re-frisk.preload devtools.preload]}
    :compiler-options {:optimizations :none}}}}}
