{:deps true

 :dev-http
 {8280 ["resources/public" #_"classpath:public"]
  #_#_8290 "target/browser-test"}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public"
   :asset-path "/"

   :compiler-options {:warnings {:fn-deprecated false}}
   :modules {:app {:init-fn vd-designer.index/init}}

   :dev
   {:devtools {:preloads [re-frisk.preload devtools.preload]
               :after-load vd-designer/render}
    :compiler-options {:optimizations :none}
    :build-hooks [(postcss/watch "src/main.css" "resources/public/app.css")]}

   :release
   {:build-hooks [(postcss/release "src/main.css" "resources/public/app.css")]}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   false}}}
