{:deps true
 :nrepl {:port 8777}

 :dev-http
 {8280 "public"
  #_#_8290 "target/browser-test"}

 :builds
 {:app
  {:target :browser
   :modules {:app {:init-fn viewdef-designer.core/init}}
   :build-hooks [(stylo.shadow/reload "public/out/stylo/css/stylo.css")
                 (stylo.shadow/add-version-env "public/out/app.js")]
   :output-dir "public/out"
   :compiler-options {:infer-externs :auto}

   :devtools {:preloads [re-frisk.preload
                         devtools.preload]
              :after-load viewdef-designer.core/render}

   :dev
   {:devtools {:preloads [re-frisk.preload]
               :after-load viewdef-designer.core/render}
    :compiler-options {:optimizations :none}}}}}
