.layout {
  color: #212636;
}

.content {
  overflow: scroll;
  position: relative;
}
/**/
/* .button-blue { */
/*   color: #7972d3; */
/*   font-family: Inter; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   line-height: normal; */
/*   text-transform: uppercase; */
/*   border-radius: 4px; */
/*   background: rgba(121, 114, 211, 0.1); */
/* } */
/**/
/* span { */
/*   display: inline-flex; */
/*   align-items: center; */
/*   display: flex; */
/*   justify-content: center; */
/*   min-height: 10px; */
/*   max-height: 50px; */
/*   display: inline-flex; */
/*   align-items: center; */
/* } */
/**/
