@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap");

:root {
  --hover-color: #fafafa;
}

html,
body,
#app,
#app > div {
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
}

.home-onboarding-steps {
  margin-top: 16px;
}

.home-onboarding-steps
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-content {
  min-height: auto !important;
}

/* FORM */

div.ant-tabs {
  flex: 1;
  overflow: hidden;
}

.ant-tabs-content-holder {
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #ffffff;
  display: flex;
  flex-direction: column;
}

.ant-tabs-content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1 1 auto;
}

.ant-tabs-tabpane {
	overflow: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.vd-resource > .ant-select-selector {
  margin-left: -10px;
}

/* INPUTS */

input,
button {
  box-shadow: none !important;
}

.default-input:focus,
.default-input:hover {
  border-bottom: 1px solid #7972d3 !important;
}

.red-input {
  border-bottom: 1px solid #ff0000 !important;
}

/* BUTTONS */

.invisible-button {
  visibility: hidden;
  opacity: 0;
}

*:hover > .invisible-button,
*:hover > * > .invisible-button,
*:hover > * > * > .invisible-button,
.invisible-button.active {
  visibility: visible;
  opacity: 1;
}

.mobile-icon-button {
  max-width: 80px;
}

@media screen and (max-width: 1000px) {
  .mobile-icon-button {
    width: 46px;
  }
  .mobile-icon-button > span:not(.ant-btn-icon) {
    display: none;
  }
}

/* TREE */

.ant-tree {
  overflow-y: auto;
  overflow-x: hidden;
}

.ant-tree-list {
  overflow: hidden;
}

.vd-tree .ant-tree-node-content-wrapper {
  border-radius: 0;
  padding: 0 4px;
  line-height: 30px;
  border-bottom: solid 1px #f0f0f0;
}

.vd-tree .ant-tree-switcher:has(.ant-tree-switcher-icon) {
  border-radius: 0;
}

.vd-tree .ant-tree-node-content-wrapper.active {
  background-color: var(--hover-color);
}

.vd-tree .ant-tree-treenode {
  padding-bottom: 0 !important;
}

.vd-tree .ant-tree-draggable-icon {
  position: absolute;
  right: -8px;
  z-index: 999;
  width: 40px !important;
}

.vd-tree .ant-tree-draggable-icon:hover {
  opacity: 1;
}

.vd-tree .ant-tree-title .cut-text {
  display: inline-flex;
  overflow: hidden;
  color: #b5b5bc;
  word-break: break-all;
  align-self: stretch;
}

/* TABLE */

.vd-table .ant-table-thead > tr > th {
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.vd-table .ant-table-tbody > tr > td {
  min-width: 48px;
  max-width: 128px;
}

.vd-table-panel-bottom {
  width: 140px; 
  height: 32px;
  border-radius: 8px 8px 0px 0px;
  position: relative;
  left: 45%;
  background: white;
  border: 2px solid #F0F0F0;
  z-index: 1000;
  align-content: center;
  border-bottom: unset;
}

/* rm first line first element line in resource tab tree
 * TODO: simplify
 * */
.resource-tab .ant-tree-list-holder-inner:first-child
.ant-tree-treenode:first-child .ant-tree-switcher {
  display: none;
}

.visible,
.hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.5s 0.5s linear;
}