@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
  --hover-color: #fafafa;
}

html,
body,
#app,
#app > div {
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
}

/* FORM */

div.ant-tabs {
  flex: 1;
  overflow: hidden;
}

.ant-tabs-content-holder {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #ffffff;
}

.ant-menu-item-selected {
  border-right: 3px solid #1890ff;
}

.vd-resource > .ant-select-selector {
  margin-left: -10px;
}

/* INPUTS */

input,
button {
  box-shadow: none !important;
}

.default-input:focus,
.default-input:hover {
  border-bottom: 1px solid #7972d3 !important;
}

.red-input {
  border-bottom: 1px solid #ff0000 !important;
}

/* BUTTONS */

.invisible-button {
  visibility: hidden;
  opacity: 0;
}

*:hover > .invisible-button,
*:hover > * > .invisible-button,
*:hover > * > * > .invisible-button,
.invisible-button.active {
  visibility: visible;
  opacity: 1;
}

.mobile-icon-button {
  max-width: 80px;
}

@media screen and (max-width: 1000px) {
  .mobile-icon-button {
    width: 46px;
  }
  .mobile-icon-button > span:not(.ant-btn-icon) {
    display: none;
  }
}

/* TREE */

.vd-tree .ant-tree-node-content-wrapper {
  border-radius: 0;
  padding: 0 4px;
  line-height: 30px;
  border-bottom: solid 1px #f0f0f0;
}

.vd-tree .ant-tree-switcher:has(.ant-tree-switcher-icon) {
  border-radius: 0;
}

.vd-tree .ant-tree-node-content-wrapper.active {
  background-color: var(--hover-color);
}

.vd-tree .ant-tree-treenode {
  padding-bottom: 0 !important;
}

.vd-tree .ant-tree-draggable-icon {
  position: absolute;
  right: -8px;
  z-index: 999;
  width: 40px !important;
}

.vd-tree .ant-tree-draggable-icon:hover {
  opacity: 1;
}

.vd-tree .ant-tree-title .cut-text {
  display: inline-flex;
  height: 30px;
  overflow: hidden;
  color: #b5b5bc;
  word-break: break-all;
  align-self: stretch;
}

/* TABLE */

.vd-table .ant-table-thead > tr > th {
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.vd-table .ant-table-tbody > tr > td {
  min-width: 48px;
  max-width: 128px;
}
