/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}

.ant-menu-item-selected {
  border-right: 3px solid #1890FF;
}

/* INPUTS */

input {
  box-shadow: none !important;
}

.default-input:focus,
.default-input:hover {
  border-bottom: 1px solid #7972D3 !important;
}

/* BUTTONS */

.delete-button {
  visibility: hidden;
  opacity: 0;
}

*:hover>.delete-button {
  visibility: visible;
  opacity: 1;
}

/* FORM */

.vd-form-row {
  border-bottom: 1px solid #F2F4F7;
  padding: 8px;
}

.vd-form-row:hover,
.vd-form-row:has(input:focus) {
  background: #FAFAFA;
  transition: background .3s;
}
