/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body, #app, #app>div {
  height: 100%;
  margin: 0;
}


/* FORM */


div.ant-tabs {
  flex: 1;
  overflow: hidden;
}

.ant-tabs-content-holder {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #F0F0F0 #FFFFFF;
}

.ant-menu-item-selected {
  border-right: 3px solid #1890FF;
}

/* INPUTS */

input,
button {
  box-shadow: none !important;
}

.default-input:focus,
.default-input:hover {
  border-bottom: 1px solid #7972D3 !important;
}

/* BUTTONS */

.invisible-button {
  visibility: hidden;
  opacity: 0;
}

*:hover>.invisible-button,
*:hover>*>.invisible-button,
*:hover>*>*>.invisible-button {
  visibility: visible;
  opacity: 1;
}

/* TREE */

.vd-tree .ant-tree-node-content-wrapper {
  border-radius: 0;
  padding: 0 4px;
  border-bottom: solid 1px #f0f0f0;
}

.vd-tree .ant-tree-switcher:has(.ant-tree-switcher-icon) {
  border-radius: 0;
}

.ant-tree-treenode {
  padding-bottom: 0 !important;
}
